nav{
    display: flex;    
    justify-content: center;    
    min-height: 10ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22;    
    background-color: darkgray;
    color: whitesmoke;
    border: cyan;
    margin-left: 10px;
}

.Sobremim {
    height: 158px;
    width: 600px;
    background-color: rgb(126, 154, 163);
    border: 3px solida white;
    flex-direction: column;
    justify-content: baseline;
}