.cadstrolog {
    background-color: lightgray;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.menucad {
    height: 100%;
    width: 90%;
    background-color: rgb(143, 144, 145);
    border: 3px solida white;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 1%;
    color: whitesmoke;
    border-radius: 7px;
}

.formulario {
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.formulario input {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.formulario label {
    margin-left: 10%;
}

.formulario input[type=radio] {
    margin-left: 25%;
    margin-right: 10%;
}

form button {
    margin-top: 5%;
    margin-bottom: 10%;
    display: right;
    text-align: center;
}