.btn-fim-editar {
    position: absolute;
    bottom: 10%;
    right: 10px;
    margin-top: 5%;
}

.imagem-detalhe {
    align-items: center;
    text-align: center;

}

.btn-fim-editar button {    
    background-color: rgb(142, 187, 187);
    color: rgb(59, 61, 63);
}
.cabecalho {    
    display: inline-flex;
    font-size: 14px;
    color: black;
    margin-left: 10%;
    margin-right: 40%;
    padding: 1%;
}


.informacoes {
    margin-top: 0;
    background-color: #93909b;
    color: aliceblue;
    border-radius: 5px  10px 55px 10px;
    margin-bottom: 15px;
}

.informacoes h2 {
    margin-left: 5%;    
}

.foto {
    background-color: whitesmoke;
	border: 1px solid black;
	height: 120px;
	width: 150px;	margin: 10px;
	border-radius: 5px  10px 5px 10px;	
	box-shadow: 2px 3px 10px black;    
}