.login{  
    display: flexbox;      
    width: 75%;   
    justify-content: center;
    align-items: center;     
    background-color: #282c34;;
    font-size: calc(10px + 1vmin);
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 5px;
}
input[type=text], input[type=password] {
    width: 80%;
    margin-left: 15%;    
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5%;    
}

.btnconfirma {
    margin-top: 1%;
    text-align: center;
    margin-bottom: 2%;
}

.btncadastrp {
    text-align: right;
}

img {    
    width: 8ch;
    height: 8ch;
    margin-top: 1%;
}

.imagemlogin {
    text-align: center;    
    margin: 0;
}


