.login{    
    background-color: #282c34;        
    font-size: calc(10px + 1vmin);
    color: white;
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.camposlogin {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5%;    
}


button {      
    margin-top: 0;
    margin-bottom: 10%;
}

.btnconfirma {
    margin-top: 1%;
    text-align: center;
}


img {    
    width: 8ch;
    height: 8ch;
    margin-top: 1%;
}

.imagemlogin {
    text-align: center;    
    margin: 0;
}


