* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.App-header {
  max-height: 20%;
  border-radius: 5px;
  margin-bottom: 5ch;  
}

.App-header img {
  max-height: 10ch;
  max-width: 10ch;
  border-radius: 2px;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form input {
  background-color: #94949b;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  color: whitesmoke;
}

.button:hover {
  filter: brightness(80%);
}

table, th, td {
  border: 1px solid #282c34;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

